body {
    background: #f6f6fa;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    font-family: "Montserrat", sans-serif;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
}

.Wrapper {
    background: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

/* Main content */
.Main-content {
    padding-left: 88px;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 80px;
    box-sizing: border-box;
}

/* Sidebar */
.sidebar {
    background: #FF00C8;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 370px;
}

.sidebar-content {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

/* Contacts */
.contacts-title {
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}

.contacts-type {
    color: #161D2A;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 8px;
}

.contacts-link {
    color: #2979FF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.contacts-item {
    margin-top: 0;
    margin-bottom: 4px;
}

.contacts-container {
    margin-bottom: 40px;
}

/* Tech Skills */

.skills-container {
    margin-bottom: 40px;
}

.skills-title {
    color:#161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}

.skills-list {
    padding-left: 16px;
}

.skills-list-item {
    color:#161D2A;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* Main content */
.My-profession {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-top: 0;
    margin-bottom: 8px;
}

.my-name {
    color: #000;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    margin-top: 0;
    margin-bottom: 12px;
}

.my-info {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

}

.my-info-1 {
    margin-bottom: 40px;
}

/*My projects */

.my-projects-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 8px;
}

.my-projects-list {
    padding-left: 16px;
}

.my-project-item {
    color: #000;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.my-project-item-link {
    color: #005FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.my-project-item-tech {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-projects-container {
    margin-bottom: 40px;
}

/* Work experience */

.work-experience-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-top: 0;
    margin-bottom: 8px;
}

.work-experience-company {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin-top: 0;
    margin-bottom: 12px;
}

.company-name {
    color: #6d9bf5;
}

.work-experience-period {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
    margin-bottom: 8px;
}

.work-experience-period-sep {
    color: #000;
}

.work-experience-duties-list {
    padding-left: 16px;
}

.work-experience-duties-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.work-experience-container {
    margin-bottom: 12px;
}

.work-experience {
    margin-bottom: 40px;
}

.education-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-top: 0;
    margin-bottom: 8px;

}

.education-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #6d9bf5;
    margin-top: 0;
    margin-bottom: 8px;
}

.education-speciality {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #000;
    margin-top: 0;
    margin-bottom: 8px;
}

.education-period {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
}

.education-period-sep {
    color: #000;
}

@media screen and (max-width: 960px) {
    body {
        padding: 20px;
    }
    .Main-content {
        padding: 40px;
    }
    .contacts-link {
        font-size: 9px;
    }
}

@media screen and (max-width: 800px) {
    .sidebar {
        width: 250px;
    }
    .my-photo {
        width: 250px;
    }
    .sidebar-content {
        padding: 20px;
    }

}

@media screen and (max-width: 600px) {
    body {
        padding: 0;
    }

    .sidebar {
        width: 200px;
    }
    .my-photo {
        width: 200px;
    }
    .Main-content {
        padding: 20px;
    }
    .my-name {
        font-size: 28px;
    }
}

@media screen and (max-width: 510px) {
    .Wrapper {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
    }
    .my-photo {
        width: 100%;
    }
}



